<div class="container">
  <div class="template">
    <h1>Bienvenido a este ejemplo que cumple con las siguientes condiciones:


    </h1>

    <p>

      buscar y registrar  libros y autores en el sistema
    </p>

    <h3>Reglas de negocio:</h3>

    <ul>
      <li>Todos los datos marcados con asterisco son obligatorios.</li>
      <li>Se debe garantizar la integridad de la información.</li>
      <li>Se debe controlar el número de libros permitidos</li>
      <li>Si al intentar registrar un libro se supera el máximo permitido, debe 
        generarse una excepción y responder con el mensaje: “No es posible registrar el
        libro, se alcanzó el máximo permitido.”.</li>
      <li>Si al intentar registrar un libro y no existe: Autor: Responder con el mensaje:“El autor no está registrado”.</li>
    </ul>

  </div>
</div>
